<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[453503108]"
        versionCode = "10" 
        version     = "1.5.0" >

    <!-- versionCode is optional and Android only -->

    <name>[zoom cloud meetings]</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/[aayushcoolscratch]" email="[aayushkhopkar@gmail.com]">
        [aayushcoolscratch]
    </author>

</widget>
